<!DOCTYPE html>

<html lang="en">
    {% load static %}
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "js/infinite.min.js" %}"></script>
    <head>
        <meta charset="utf-8">
        <title>MhFirstclient</title>
        <base href="/">
      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
      </head>

    <body>
        <app-root></app-root>
        <script type="text/javascript" src="{% static "dist/mh-firstclient/runtime.js" %}"></script>
        <script type="text/javascript" src="{% static "dist/mh-firstclient/polyfills.js" %}"></script>
        <script type="text/javascript" src="{% static "dist/mh-firstclient/styles.js" %}"></script>
        <script type="text/javascript" src="{% static "dist/mh-firstclient/vendor.js" %}"></script>
        <script type="text/javascript" src="{% static "dist/mh-firstclient/main.js" %}"></script>
            <div>
                    <ul>
                    {% if logged_in %}
                        <li><a href="logout">Logout</a></li>
                    {% else %}
                        <li><a href="login">Login</a></li>
                    {% endif %}
        
                        <li><a href="about/">About</a></li>
                    </ul>
                </div>

        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />


    </body>
</html>