{% extends 'metalheartapp/base.html' %}

{% block title %}Home Page{% endblock %}

{% block body_block %}
<p> acces token: {{access_token}} </p>
<app-root></app-root>
{% load static %}
<script type="text/javascript" src="{% static "mh-firstclient/runtime.js" %}"></script>
<script type="text/javascript" src="{% static "mh-firstclient/polyfills.js" %}"></script>
<script type="text/javascript" src="{% static "mh-firstclient/styles.js" %}"></script>
<script type="text/javascript" src="{% static "mh-firstclient/vendor.js" %}"></script>
<script type="text/javascript" src="{% static "mh-firstclient/main.js" %}"></script>
{% endblock %}

